<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="aBeaconMiniHack.aBeaconMiniHack">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="18"/>
	<application android:label="aBeaconMiniHack">
		<service android:name="com.estimote.sdk.service.BeaconService" android:exported="false" />
	</application>
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-feature android:name="android.hardware.bluetooth_le" android:required="true" />
</manifest>